
<!DOCTYPE html>
<html>
<head>
    <title>Spam Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Spam Detection App</h2>

    <form action="/predict" method="post">
        <input type="text" name="message" placeholder="Enter your message" required>
        <br>
        <button type="submit">Check</button>
    </form>
    {% if result %}
        <div class="result">
            {% if result == "Spam ❌" %}
                <p style="color:red;">{{ result }}</p>
            {% else %}
                <p style="color:green;">{{ result }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
</body>
</html>